body{
    background: black;
}
body {
    color:white;
}

body {
    text-align:center;
}

h1 {
    font-size:30px;
}

img {
    width:500px;
}

img {
 padding-left:0px;
}

p   { border-right:1000px solid black;
}
    
    
    
    
    
    
    
    
    